*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: auto;
}

.calculator {
  display: grid;
  max-width:100%;
  height:auto;
  max-height:100%;
  border-radius: 15px;
  background-color: black;
  border: 20px solid black;
  grid-template-columns: repeat(4, 125px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.two-cols {
  grid-column: span 2;
  margin-top: 20px;
}

#clear, #delete {
  background-color: rgb(245, 229, 156);
}

#divide, #multiply, #add, #subtract{
  color: white;
  background-color: black;
}

.calculator>button {
  gap: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 2.25rem;
  outline: none;
  background-color: whitesmoke;
  opacity: 80%;
}

.calculator>button:hover {
  opacity: 100%;
}

.calculator-screen {
  grid-column: 1 / -1;
}

.calculator-screen {
  background-color: #3be972ad;
  border: 1px solid #4289a7;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 10px;
  border-radius: 5px;
}

.calculator-screen .previous-operand {
  font-size: 1.5rem;
}

.calculator-screen .current-operand {
  font-size: 3rem;
  padding-top: 5px;
}